
body{
  width: 100vw;
  height: 100vh;
  background-size: cover;
	font-family: 'Handwriting', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ececee;
	background-color: #1f2029;
  width: 100vw;
  height: 100vh;
  background-size: cover; /*to fully cover the screen*/
}

/*homepage box*/
/*..................*/
/*................................*/
h2{
    font-family: "Zen Old Mincho";
    letter-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 45vw;
    height: auto;
    text-align: center;
    font-size: 4vw;
    color: black;
}
h4{
    font-family: "Garamond";
    width: 40vw;
    margin-left: 5vw;
    margin-right: auto;
    text-align: left;
    display: block;
    color: black;
    font-size: 2.5vw;
}
h5{
    font-family: "Garamond";
    width: 35vw;
    margin-top: 6vw;
    margin-left: 13vw;
    margin-right: auto;
    text-align: left;
    display: block;
    color: black;
    font-size: 2.3vw;
}
h6{
    font-family: "Garamond";
    width: 55vw;
    margin-left: 3vw;
    margin-right: auto;
    text-align: center;
    display: block;
    color: black;
    font-size: 2.5vw;
}
.box{
    background-color: #d1cec7;
    z-index: 0;
}

/*container for about me page*/
.color-box {
  background-image: url(img/backgrounds/paper-background-2.jpg);
  padding: 20px;
  max-width: 60vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  border-radius: 5vw;
  }

/*for each section*/
.content {
  display: block;
  position: relative;
}

.content--home .images {
  right: 0;
  top: 0;
}
.content--profession .images {
  left: 0;
  bottom:  0;
}

.content--home .image:nth-child(1) {
  position: absolute;
  right: 4vw;
  top: -3vw;
  transform: rotate(8deg);
  transition: transform .5s ease-in-out;
}

.content--home .image:nth-child(2) {
  position: absolute;
  transform: rotate(-9deg);
  right: -4vw;
  top: -7vw;
  transition: transform .5s ease-in-out;
}

.content--home .image:nth-child(1):hover{
  transform: rotate(12deg);
}

.content--home .image:nth-child(2):hover{
  transform: rotate(-13deg);
} 
.images {
  position: absolute;
}

.image {
  height: auto;
  max-width: 12vw;
}

.image--polaroid2 {
  height: auto;
  max-width: 12vw;
  margin-left: -4vw;
  transform: rotate(24.08deg);
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3); 
  transition: transform .5s ease-in-out;
}
.image--polaroid2:hover {
transform: rotate(30deg);
}

.content--note img{
  position: absolute;
  max-width: 40vw;
  left: 2vw;
  top: -4vw;
  filter: saturate(-15);
}
.naturalpool img{
  height: auto;
  max-width: 12vw;
  margin-left: 45vw;
  top: -90vw;
  transform: rotate(9deg);
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  transition: transform .7s ease-in-out;
}
.naturalpool img:hover {
  transform: rotate(12deg);
}
.andicuri img{
  height: auto;
  max-width: 12vw;
  margin-left: 54vw;
  margin-top: -1000vh;
  transform: rotate(-3deg);
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  transition: transform .7s ease-in-out;
}
.andicuri img:hover {
  transform: rotate(-6deg); 
}
