/*help adjust the background*/
body{
    width: 95vw;
    height: 100vh;
    background-size: cover; /*to fully cover the screen*/
  }
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw; 
  }
 /* center the images */
 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* allow images to wrap to the next line */
    height: auto;
  }

  /* lower images 2 and 4 */
  .image-container .image-wrapper:nth-child(2),
  .image-container .image-wrapper:nth-child(4) {
    margin-top: 20vw; 
  }

   /* add spacing between images */
   .image-container .image-wrapper {
    margin: 10px; /* adjust as needed */
    text-align: center;
  }

  /* style for image text */
  .image-container p {
    margin-top: 5px;
    font-size: 3vw;
    color: #EBE4CD;
    font-family: Garamond;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color:#EBE4CD;
  }
  .image-wrapper img{
    transition: transform .3s ease-in-out; /*allows smooth transition during hover effect*/
  }
  .image-wrapper img:hover{
    transform: translateY(-2vw); /* move the image up */
  }